.click-icon-review3-page1-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 10.5%;
    left: 35%;
  cursor: pointer;
}

.click-icon-review3-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
     bottom: 27.5%;
    left: 35%;;
  cursor: pointer;
}
.click-icon-review3-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
top: 29.5%;
    left: 52.5%;
  cursor: pointer;
}
.headset-icon-CD-review3-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}
