
.fv-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
}

.fv-item {
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fv-image {
     width: 200px;
    height: auto;
  object-fit: contain;
}

.fv-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.fv-option {
    font-size: 28px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    justify-content: center;
}

.fv-option:hover {
  transform: scale(1.2);
}


.wrong-x-fv{
position: absolute;
    top: -14px;
    right: -11px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
border: 2px solid white;

}

