.container-review3-p2-q3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.shortA-choice {
  width: 140px;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.25s ease;
}

.shortA-options {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}

.shortA-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortA-img {
  width: 130px;
  height: 90px;
  object-fit: contain;
}

.shortA-word {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 14px;
  border: 3px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease;
}

/* لما الطالب يختار الكلمة */
.shortA-word.selected {
  border-color: #1d4f7b;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: black;
      width: 60px;
    height: 60px;
}

/* الغلط */
.review3-p2-q3-wrong-x {
       position: absolute;
    right: -12px;
    top: -3px;
    background: red;
    color: white;
    /* font-weight: bold; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
