/* 🔷 صندوق الجملة القادم */
.review3-p2-q2-sentence-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

/* 🔷 رقم الجملة */
.review3-p2-q2-num {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.review3-p2-q2-sentence-container2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 50px 20px;
}
/* 🔷 البوكس الأزرق الكبير */
.review3-p2-q2-word-box {
  background: #e8f4ff; /* خلفية سماوية فاتحة */
  border: 2px solid #5eaeea; /* حدود سماوية */
  border-radius: 18px;
  padding: 15px 20px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* 🔷 الكلمات داخل الصندوق */
.review3-p2-q2-word {
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.review3-p2-q2-word.circled {
  /* border: 2px solid #1c7ed6; */
  padding: 3px 10px;
  border-radius: 10px;
  background: #d0ebff;
}

/* 🔺 علامة X الحمراء */
.review3-p2-q2-wrong-x {
  position: absolute;
  right: -12px;
  top: -10px;
  background: red;
  color: white;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
      z-index: 9;
      border: 2px solid white;
}

/* 📱 ريسبونيف */
@media (max-width: 768px) {
  .review3-p2-q2-word-box {
    width: 65px;
    padding: 10px 14px;
  }

  .review3-p2-q2-word {
    font-size: 16px;
  }
}
