.click-icon-review4-page2-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3.5%;
  left: 57.5%;
  cursor: pointer;
}

.click-icon-review4-page2-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 28.5%;
  right: 6%;
  cursor: pointer;
}
.click-icon-review4-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 46%;
  left: 39.5%;
  cursor: pointer;
}
