/* ============================
    GENERAL CONTAINER
============================= */
.container-review3-p2-q3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
  width: 100%;
}

/* ============================
    QUESTION BOX
============================= */
.question-box-review3-p2-q3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* ============================
    IMAGE WITH BLUE BORDER
============================= */
.q3-image-review3-p2-q3 {
  width: 150px;
  height: 150px;
}

.img-div-review3-p2-q3 {
  object-fit: contain;
  border: 3px solid rgb(0, 179, 255);
  border-radius: 12px;
  padding: 10px;
  background: white;
  width: 65%;
  display: flex;
  justify-content: center;
}

/* ============================
    OPTIONS ROW UNDER IMAGE
============================= */
.options-row-review3-p2-q3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

/* ============================
    OPTION STYLE (WORD)
============================= */
.option-word-review3-p2-q3 {
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  padding: 4px 15px; /* نفس حجم selected */
  border-radius: 25px;
  border: 2px solid transparent; /* مهم جداً */
  transition: 0.2s;
  position: relative;
  user-select: none;
}

/* ============================
    SELECTED (CIRCLE AROUND WORD)
============================= */
.option-word-review3-p2-q3.selected {
  border-color: #2c8ed6; /* فقط نغيّر اللون */
}

/* ============================
    RED X ICON
============================= */
.wrong-x-review4-p2-q3 {
  color: white;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
}



@media (max-width: 990px) {
.q3-image-review3-p2-q3 {
  width: 90px;
  height: 90px;
}
.img-div-review3-p2-q3 {

  width:auto;
  display: flex;
  justify-content: center;
}
}