.look-number-container {
  width: 65%;
  margin: auto;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c5287;
}

.letter {
  color: #2c5287;
  font-weight: 700;
  margin-right: 5px;
}

.images-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}

.question-img {
  width: 130px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #75c7ff;
}

.number-input {
  width: 28px;
  height: 28px;
  margin-top: 10px;
  border-radius: 6px;
  border: 2px solid #75c7ff;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.sentences-col {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sentence-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sentence-text {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.exercise-item-review3-p1-q1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.exercise-image-review3-p1-q1{

    cursor: pointer;
    transition: 0.2s;
    height: 150px;
    width: auto;
    /* border: solid 2px #6ec1ff; */
    border-radius: 13px;
    /* margin-left: 10px;*/
}


@media (max-width: 991px) {
.exercise-image-review3-p1-q1{


    height: 90px;
    width: auto;
  
}
.exercise-image-div-review3-p1-q1{
  flex-wrap: wrap;
}
}