/* ============================
   EXERCISE CONTAINER
============================ */
.exercise-container-review5-p2-q2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ============================
   TITLE
============================ */
.ds-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.ds-letter {
  font-size: 26px;
  color: #3c74b9;
  font-weight: 800;
}

.ds-diff {
  color: red;
  font-weight: 700;
}

/* ============================
   ROW OF GROUPS
============================ */
.exercise-row-review5-p2-q2 {
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ============================
   GROUP BOX (3 IMAGES)
============================ */
.ds-group-box-review5-p2-q2 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* ============================
   EACH IMAGE WRAPPER
============================ */
.ds-image-wrapper-review5-p2-q2 {
  position: relative;
  width: 95px;
  height: 95px;
  border: 2px solid #91c4ff;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7fbff;
  transition: 0.2s ease-in-out;
}

.ds-image-wrapper-review5-p2-q2:hover {
  transform: scale(1.05);
}

/* ============================
   IMAGES
============================ */
.ds-image-review5-p2-q2 {
  width: 95px;
  height: auto;
  object-fit: contain;
}

/* ============================
   THE X MARK
============================ */

/* correct answer X (green) */
.wrong-x-circle-review5-p2-q2{
   position: absolute;
  top: -10px;
  right: -10px;
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ds-x {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 90px;
  /* font-weight: 900; */
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(-25deg); */
  pointer-events: none;
  opacity: 0.9;
}

/* ============================
   RESPONSIVE
============================ */
@media (max-width: 600px) {
  .ds-group-box-review5-p2-q2 {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .ds-image-wrapper-review5-p2-q2 {
    width: 130px;
    height: 130px;
  }
}
