#U2page3q1{
    top: 9.5%;
    left: 44%;
}
#U2page3audioq1{
    top: 9.5%;
    left: 49%;
}
#U2page3q2{
    top: 44%;
    left: 36%;
}
#U2page3audioq2{
    top: 44%;
    left: 41%;
}
#U2page3audioq4{
    top: 87%;
    left: 57%;
}