#U4page20q1 {
    top: 8%;
    left: 47%;
}

#U4page20audioq1 {
    top: 8%;
    left: 52.5%;
}
#U4page20q2 {
    top: 41%;
    left: 57%;
}

#U4page20audioq2 {
    top: 41%;
    left: 62.5%;
}
#U4page20audioq4 {
    top: 87%;
    left: 57%;
}