#U3page20audioq1 {
    top: 8%;
    left: 36%;
}
#U3page20q2 {
    top: 48%;
    left: 67%;
}

#U3page20audioq2 {
    top: 48%;
    left: 72%;
}
#U3page20q3 {
    top: 73.5%;
    left: 88%;
}

#U3page20audioq3 {
    top: 73.5%;
    left: 93%;
}