#U3page21q1 {
    top: 8.3%;
    left: 56%;
}

#U3page21audioq1 {
    top: 8.3%;
    left: 61%;
}
#U3page21q2 {
    top: 39%;
    left: 31%;
}

#U3page21audioq2 {
    top: 39%;
    left: 36.5%;
}
#U3page21audioq3 {
    top: 89.5%;
    left: 55%;
}