.q5-activity-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 18px;
  height: 45vh;
  padding: 0;
  
}

.q5-body {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.q5-character-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.q5-character-group:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.q5-character-img {
  width: 350px;
  height: 320px;
}





@media (max-width: 600px) {
  .q5-body {
    gap: 20px;
  }

  .q5-character-img {
    width: 110px;
  }

  .q5-input {
    width: 120px;
    font-size: 15px;
  }
}
