/* OVERLAY */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 9999;
  overflow-x: hidden;
}



/* CLOSE BUTTON */
.popup-close-btn {
  position: absolute;
  right: clamp(16px, 4vw, 50px);
  width: 1px;
  background: none;
  border: none;
  font-size: clamp(1.2rem, 3vw, 1.7rem);
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.question-text {
  font-size: clamp(18px, 3vw, 25px);
  font-weight: 600;
  color: #000;
  margin-left: 26%;
}
@media (max-width: 768px) {
  .question-text {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .question-text {
    margin-left: 0;
  }
}


.popup-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.5vw, 15px);
}
.qusetionnum
{
    border-radius: 50%;
    background-color: #67cadb;
    color: #000 !important;
}

.popaud{
  width: 850px;
}
.question-container{
  padding-bottom: 100px;
}