/* src/components/interactive.css */

.interactive-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
  /* border: 2px dashed red; */
}

.icon-container {
  position: absolute;
  color: #28a745; /* لون الصح الأخضر */
  pointer-events: none; /* لمنع تفاعل الفأرة مع الأيقونة */
}

.check-icon {
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0;
  transform: scale(0.5);
}



/* بعد فترة قصيرة، تعود الأيقونة لحجمها الطبيعي */
.check-icon {
    opacity: 1;
    transform: scale(1);
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* ✨ أنيميشن عند الضغط فقط */
.animate-pop {
  animation: popIn 0.45s ease-out;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-5deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.1) rotate(2deg);
  }
  100% {
    transform: scale(1);
  }
}
