.four-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.images-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.audio-popup-read{
   margin-top: -20px;
  background: #ffffff;
      padding: 0px 25px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);


}
.main-image-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
     padding: 20px;
  width: 100%;
  border-radius: 16px;
  transition: all 0.4s ease;
}

.main-image {
  width: auto;
  height: 50px;
}

.small-images {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 60%;
}

.small-box2 {
  padding: 10px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.small-box2.active {
  transform: scale(1.15);
  background: gold ;
}

.small-img2 {
  width: 300px;
  height: auto;
}


.small-box1 {
  padding: 10px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.small-box1.active {
  transform: scale(1.15);
  background: gold ;
}

.small-img1 {
  width: 450px;
  height: auto;
}

.main-audio {
  margin: 15px auto;
  display: block;
}
