.h5-review6-p2-q2{
        display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 30px;
    border: 2px solid #4a90e2;
    border-radius: 20px;
    background-color: #eef6ff;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    width: fit-content;
    margin-bottom: 25px;
}