.shorti-container-review6-p2-q1 {
  /* display: flex; */
  flex-direction: column;
  gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.question-box-review6-p2-q1 {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.img-box-review6-p2-q1 {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.img-box-review6-p2-q1 .selected {
  border-color: #37a3ff;
}

.img-box-review6-p2-q1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.check-box-review6-p2-q1 {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 25px;
  height: 25px;
  color: red;
  font-weight: 700;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


.wrong-x-circle-review6-p2-q1{
   color: white;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
}