.crossword-container {
  margin: 20px;
}

.crossword-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.crossword-grid {
  display: inline-block;
}

.row-review7-p1-q1 {
  display: flex;
  
}

.cell2 {
  width: 40px;
  height: 40px;
  border: 1px solid #2e9ad0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  background: #c6e6f7; /* الأزرق الفاتح */
}

.white {
  background: #ffffff;
}

.number {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.letter22 {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  text-transform: lowercase;
}
